@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';

$turquoise: #48cbbe;
$brown: #363634;
$sun: #d3a45d;

$utilities: (
  'rounded': (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      4: 1.5rem,
      5: 2rem,
      circle: 50%,
      pill: $border-radius-pill,
    ),
  ),
  'color': (
    property: color,
    class: text,
    local-vars: (
      'text-opacity': 1,
    ),
    values:
      map-merge(
        $utilities-text-colors,
        (
          'success': $turquoise,
          brown: $brown,
          'sun': $sun,
        )
      ),
  ),
  'text-opacity': (
    css-var: true,
    class: text-opacity,
    values: (
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
